@media (max-width: 600px) {
    #map {
        position: absolute;
        width:100%;
        left:0;
        bottom:30%
    }
    #features{
        position: absolute;        
        width:100%;
        bottom:0;
        top:70%;
        margin-left:0;
    }
    /* #section{
        width:100%;
        bottom:0;
        top:70%;
        margin-left:0;
    } */
}
 body { margin:0; padding:0; }
 
 .map {
    position: fixed;
    top:0; bottom:0;
    width:50%;
}
.features {
    width: 50%;
    margin-left: 50%;
    font-family: Tw Cen MT;
    overflow-y: scroll;
    background-color: #fafafa;
}
section {
    padding:  25px 50px;
    line-height: 25px;
    border-bottom: 1px solid #ddd;
    opacity: 0.25;
    font-size: 20px;
}
section.active {
    opacity: 1;
}
section:last-child {
    border-bottom: none;
    margin-bottom: 1000px;
}